.WeatherForecast {
    text-align: center;
}

.WeatherForecast-min {
    opacity: 0.6;
    margin-left: 5px;
}

.weatherForecast img {
    height: 64px;
    width: 64px;
    display: inline-block;
    position: relative;
    right: 5px;
    top: -5px
}